@import "tailwindcss";

* {
  scroll-behavior: smooth;
  font-family: "Big Shoulders",sans-serif;
}
.font-berlin{
    font-family: 'Berlin Sans Fb';
}
html,body{
  background: black;
  color:white;
}
::-webkit-scrollbar{
  width:15px;
}
::-webkit-scrollbar-track{
  background: black;
}
::-webkit-scrollbar-thumb{
  background: #8888882e;
 border-radius: 20px;
}
 
.px5{
    padding:0px .5rem;
}
/* @layer{
    @apply{
        .text-gray_gradient{
        bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent}
    }

} */

.loader {
  --s: 40px;
  --g: 5px;  
  
  height: calc(2*(var(--s) + var(--g)));
  aspect-ratio: 1;
  background:
    radial-gradient(calc(var(--s)/sqrt(2)) at calc(50% - .1*var(--s)) calc(50% - .2*var(--s)),#0000 5%,60%,#111 98%), 
    linear-gradient(#FE4365 0 0) no-repeat #fff; 
  background-size: 50% 50%;
  mask: radial-gradient(calc(var(--s)/2),#000 calc(100% - 1px),#0000) 0 0/50% 50%;
  animation: l12 steps(3) 1.5s infinite;
}
@keyframes l12 {
  0%,12.5%    {background-position:0 0}
  12.6%,37.5% {background-position:0 0,100% 0}
  37.6%,62.5% {background-position:0 0,100% 100%}
  62.6%,87.5% {background-position:0 0,0 100%}
  87.6%,100%  {background-position:0 0}
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}